

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
    <div class="container">
      <h1>My recipe book<strong></strong><strong></strong></h1>
      <p>All your favourite recipies in one spot</p>
      <a class="btn btn-flat" href="#">Recipies</a>
    </div>
  </div>
