<body class=home-body>
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <h1 class="title mb-3">My Recipe Book</h1>

    <%# BUTTON %>
    <div class="home-btn d-flex justify-content-center">
      <a class="nav-link fs-5 " href= "/recipes" >Start now </a>
    </div>
  </div>
</body>
